/*.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #2c2c2b;
	z-index: 2;
}
*/
.search-result{
	width: 100%;
	margin-top: 55px;
}
.movie-unit{
	border: 2px solid #f2f2f2;
	padding: 10px;
	background-color: #fff;
	min-height: 300px;
}

.movie-thumb {
	height: 70%;
}

.movie-title, .movie-rate, .movie-view{
	padding: 1px;
	vertical-align: middle;
	height: 10%;
}

.movie-title a{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #666;
}
.movie-title a:hover{
	color:#222;
	text-decoration: none;
}

.clear-left-pad{
	padding-left: 0px;
}

.thumb-like{
	color: #24a23e;
}

.thumb-dislike{
	color: #eb3d3d;
}